@charset "UTF-8";

@font-face {
  font-family: "ng-fonticon";
  src:url("fonts/ng-fonticon.eot");
  src:url("fonts/ng-fonticon.eot?#iefix") format("embedded-opentype"),
    url("fonts/ng-fonticon.woff") format("woff"),
    url("fonts/ng-fonticon.ttf") format("truetype"),
    url("fonts/ng-fonticon.svg#ng-fonticon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ng-fonticon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ng-fonticon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bluetooth:before {
  content: "\61";
}
.icon-ng:before {
  content: "\62";
}
.icon-android:before {
  content: "\63";
}
.icon-facebook:before {
  content: "\64";
}
.icon-twitter:before {
  content: "\65";
}
.icon-whatsapp:before {
  content: "\66";
}
.icon-telegram:before {
  content: "\67";
}
.icon-git:before {
  content: "\68";
}
.icon-github:before {
  content: "\69";
}
.icon-ng-coa:before {
  content: "\6a";
}
.icon-ng-map:before {
  content: "\6b";
}
